* {
    box-sizing: border-box;
}

body {
    background-color: teal;
    color: #fff;
    font-family: 'Karla', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    height: 100vh;
    margin: 0;
}

/* Typography */

h1, h2, p {
    margin: 0;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 0.75em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3 );
}

.difficulty {
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    padding: 0.25em 0.5em;
}

.difficulty:focus {
    cursor: pointer;
}

.difficulty:focus {
    outline: none;
}

.container {
    width: 400px;
    max-width: 90%;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    background-color: rgba(0, 0, 0, 0.3 );
    border-radius: 5px;
}

.container > h2 {
    background-color: teal;
    width: 100%;
    text-align: center;
    padding: 0.2em;
}

.time-score {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.type-word {
    padding: 0.25em 0.5em;
    width: 60%;
    border: none;
    border-radius: 2px;
}

.type-word:focus {
    outline: 4px solid teal;
}

.word {
    text-align: center;
}

.btn-start {
    font-size: 1.25rem;
    padding: 0.25em 1em;
    border: none;
    border-radius: 3px;
    font-weight: 700;
    transition: transform 0.2s;
}

.btn-start:hover {
    cursor: pointer;
    transform: scale(105%);
}

.btn-settings {
    position: absolute;
    bottom: 30px;
    left: 30px;
    padding: 0.25em 0.5em;
    font-size: 1.125rem;
    border-radius: 3px;
    border: none;
}

.btn-settings:hover {
    cursor: pointer;
}
